.custom-header-border {
    border-top: 3px solid black;
    border-left: 3px solid black; 
    border-right: 3px solid black; 
}

.custom-content-border {
    border-left: 3px solid black; 
    border-right: 3px solid black; 
}

.custom-footer-border {
    border-bottom: 3px solid black;
    border-left: 3px solid black; 
    border-right: 3px solid black; 
}

.slds-modal__container {
    padding-bottom: 0px;
    padding-top: 0px;
    height: 175px;
    margin-top: 150px;
    box-shadow: 30px 30px 200px 200px rgba(0,0,0,0.4);
}