.search-filter-container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: end;
    gap: 0.5rem;
}

.search-input-wrapper {
    width: 100%;
}

.filter-button-wrapper {
    display: flex;
    align-items: flex-end;
    height: 100%;
    margin-left: 5px;
}

.filter-button-wrapper button {
    height: 32px;
    width: 32px;
}

.slds-input-has-icon .slds-input__icon {
    cursor: pointer;
}

.slds-button_stretch {
    width: 100%;
    height: 100%;
}

.column-container {
    padding: 1rem;
}

.slds-box {
    border: 1px solid #d8dde6;
    border-radius: 0.25rem;
}